<div id="entry-list">
  <h1>entries</h1>

  <table cellpadding="5" cellspacing="0" width="90%">
  <% for entry in @entries %>
    <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-event') %>">
      
      <td>
        <img class="list-one-sheet" src="<%=entry.picture%>">
      </td>
      
      <td width="90%">
        <span class="list-title"><%= h(entry.title) %></span><br />
        <%= h(truncate(entry.description, 80)) %>
	<p>
	<b>category:</b> <%= entry.category %>
      <div class="list-actions">
        <%= link_to 'read more', entry %> | 
        <%= link_to 'edit', edit_entry_path(entry) %> | 
        <%= link_to 'delete', entry, :confirm => 'Are you sure?', :method => :delete %>
      </p>
      </td>
          </tr>
    
  <% end %>
  </table>
</div>
<br />

<%= link_to 'Post a new entry', new_entry_path %>
