<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>hearsay! - collaborative photo sharing and gossiping of the local community</title>
  <%= stylesheet_link_tag 'entry' %>
  <%= javascript_include_tag "shadedBorder" %>
  <%= javascript_include_tag "shadedBorderVar" %>
</head>
<body id="entry">
  <div id="banner">
    <!--<%= image_tag("logo02.jpg") %>-->
    <!-- <br />
    <%= "Hearsay!" %>-->
  </div>
  <p>
  <div id="columns">
    <div id="shadowed-border" class="sb">
      <div id="side">
      <h1> user info </h1>
      <%= render :partial => 'users/user_bar' %>
      </div>
       <div id="right" class=".curvedborders">
       <h1>top ranked</h1>
      </div>
      <div id="main">
	<div id="prebox">
		<p>A picture is worth 1,000 words. Stop talking and start showing!</p>

		<p>Share your story or unique occurrence in Berkeley or any campus, for that matter, to the student population.</p>

		<p>Users can upload or email in photos of campus personalities, protesters, hippies, the popular girl, or the campus jock at their finest moments. Viewers are welcome to comment with their insight or link to other relevant photos.</p>

		<p>Rank the hottest girl. The most "granola" Berkeleyan. Most awkward geek.</p>
        </div>
	<div id="entries">
		<p><p1><%= flash[:notice] %></p1></p>
		<%= yield  %>
	</div>
      </div>
     
    </div>
  </div>
  </p>
</body>
</html>
