<h1>New tag</h1>

<% form_for([@entry,@tag]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', entry_path(@entry) %>
